/* reset css */
@import url("./normalize.css");
@import url("./basic.setup.css");
@import url("./var.css");
@import url("./menu.css");
@import url("./logo.css");
@import url("./main-box.css");
@import url("./footer.css");
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh repeat(4, 50vh);
  grid-template-areas:
    "menu"
    "main"
    "slider"
    "card"
    "footer";
}
@media only screen and (min-width: 600px) {
  body {
    /* font-size: 2.5rem; */
    grid-template-rows: 15vh repeat(4, 75vh);
    background: #cecece;
    color: #333;
    font-family: DBSansRegular, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: auto;
  }
}
@media only screen and (min-width: 900px) {
  body {
    grid-template-rows: 15vh repeat(4, 65vh);
  }
  /* This should fix the menu but it doesn't work?! */
  header nav .menu {
    width: 15vw;
  }
  h2 {
    font-size: 1rem;
  }
}
