.chess-board {
  border-spacing: 0;
  border-collapse: collapse;
}
.chess-board td {
  border: 1px solid;
  width: 2em;
  height: 2em;
}
.chess-board .light {
  background: white;
}
.chess-board .dark {
  background: black;
}
